/**
 * @name scriptKittys theme
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/yD552tb.jpg');
  --background-image-blur: 2px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/GHIo8EO.jpg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.9;
  --left-brightness: 0.78;
  --middle-brightness: 0.6;
  --right-brightness: 0.2;
  --popout-modal-brightness: 0.82;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 318deg;
  --tint-colour: 42,0,117;
  --tint-brightness: 0.08;
  --font: Roboto;
  --window-padding: 21px;
  --window-roundness: 19px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


